<a href="https://colab.research.google.com/github/PatrickLeloup/DSWP_Aluno/blob/main/FIFA_ex_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [4]:
# Carregar Data Frame
url = 'https://raw.githubusercontent.com/MathMachado/DSWP/master/Dataframes/FIFA_algumas_features.csv'
df_fifa18 = pd.read_csv(url, index_col = 'ID')
df_fifa18.head()

        overall  potential      value  ...  position age preferred_foot
ID                                     ...
158023       94         94  110500000  ...        RF  31           Left
20801        94         94   77000000  ...        ST  33          Right
190871       92         93  118500000  ...        LW  26          Right
193080       91         93   72000000  ...        GK  27          Right
192985       91         92  102000000  ...       RCM  27          Right

[5 rows x 8 columns]

In [6]:
df_fifa18.shape

(18207, 8)

In [7]:
df_fifa18.isna().sum()

overall            0
potential          0
value              0
wage               0
nationality        0
position          60
age                0
preferred_foot    48
dtype: int64

In [27]:
df_fifa18.dtypes

overall            int64
potential          int64
value              int64
wage               int64
nationality       object
position          object
age                int64
preferred_foot    object
dtype: object

In [35]:
df_fifa18 = df_fifa18.astype({'nationality': str, 'position' : str, 'preferred_foot' : str })

In [42]:
df_fifa18['nationality'] = df_fifa18['nationality'].astype(str)

In [43]:
df_fifa18.dtypes

overall            int64
potential          int64
value              int64
wage               int64
nationality       object
position          object
age                int64
preferred_foot    object
dtype: object

In [11]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

In [12]:
le = LabelEncoder()
df_fifa18['preferred_foot_le'] = le.fit_transform(df_fifa18['preferred_foot'])
df_fifa18

TypeError: ignored